@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,500,500i,600,600i,700,700i,900');

body {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 300;
}

.form-control.simple {
  border-radius: 0;
  border-width: 0 0 1px 0;
}

.form-control.simple:focus {
  box-shadow: none;
}

th {
  font-weight: 500;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
