@import "styles/scss/bootstrap.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,900');

body {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.form-control.simple {
  border-radius: 0;
  margin-top: 1px;
  border-width: 0 0 1px 0;
  background-color: transparent;
  box-shadow: none;
}

.form-control.simple:focus {
  box-shadow: none;
}

th {
  font-weight: 400;
}

.border-radius-0 {
  border-radius: 0px !important;
}

.rounded {
  border-radius: 500px !important;
}
